@use '../../../assets/sass/mixins';
@import '../../../assets/sass/color-palette.scss';


* {
    @include mixins.all-items;
}

h1 {
    color: $text-title;
}

p {
    @include mixins.paragraph;
    max-width: 620px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 22px;
    font-size: 18px;
}

.form-floating {
    max-width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: $text-placeholder;
}

input, textarea {
    @include mixins.form-input;
}

textarea {
    margin-top: 10px !important;
    min-height: 180px !important;
    transition: 100ms;
}


.btn-submit {
    @include mixins.btn-outline;
    font-size: 18px;
    padding: 8px;
}

@media (max-width: 767px) {
    .container {
        padding-top: 120px;
    }
}