@import '../../../assets/sass/color-palette.scss';


$btn-color: $color-5;

.container {
    text-align: center;
}

h1 {
    color: white;
}

p {
    width: 620px;
    color: $color-4;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: start;

    a {
        text-decoration: none;
        color: $color-5;
    }
}

.form-floating {
    width: 450px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control {
    color: white;
    background-color: $color-3;
}

label {
    color: $color-4 !important;
}

textarea {
    margin-top: 10px !important;
    height: 180px !important;
}

input, textarea {
    // border: 1px solid $color-4;
    border: none;
    background-color: $color-3;

    &:focus {
        background-color: transparent;
        outline: none;
        box-shadow: 2px 2px $color-5, -2px 2px $color-5, 2px -2px $color-5, -2px -2px $color-5;
    }
}

.btn-submit {
    font-size: 16px;
    padding: 10px;
    color: $btn-color;
    border: 1px solid $btn-color;
    background-color: transparent;
    transition: 300ms all;
    display: block;
    margin: 0px auto;

    &:hover {
        color: white;
        background-color: $btn-color;
    }
    
}