@import '../../../assets/sass/color-palette.scss';

$btn-color: $color-5;

.container {
    text-align: center;

}

h1 {
    text-align: center;
    color: white;
}

.page-descripion {
    width: 80%;
    color: $color-4;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: start;
    font-size: 16px;

    a {
        text-decoration: none;
        color: $color-5;
    }
}


.col {
    
    justify-content: center;

    .btn-container {
        width: 70%;
        margin: 0px auto;
    
    }
}

.btn {
    display: block;
    width: 120px;
    font-size: 16px;
    padding: 10px;
    margin: 0px auto;
    border-radius: 10px;
    color: $btn-color;
    border: 1px solid $btn-color;
    background-color: transparent;
    transition: 300ms all;

    &:hover {
        color: white;
        background-color: $btn-color;
    }
}