@use '../../../assets/sass/mixins';
@import '../../../assets/sass/color-palette.scss';

* { 
    @include mixins.all-items; 
}

h1 {
    color: $text-title;
}

.page-descripion {
    @include mixins.paragraph;
    line-height: 22px;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.btn-container {
    padding: 15px;
    width: 360px;
}

.btn {
    @include mixins.btn-outline;
    width: 140px;
    font-size: 18px;
    padding: 8px;
}

@media (max-width: 767px) {

    .container {
        padding-top: 120px;
    }

    .btn-container {
        width: 80%;
    }

    .page-descripion {
        width: 95%;
    }
    
}