<div class="container mt-2">
    <h1>About me</h1>

    <div class="row">
        <!-- <div class="col-md-auto">

        </div> -->

        <div class="col-md-auto">
            <p class="page-descripion">
                My name is Freddy Michelena. I am a Mechanical Engineer from Venezuela who discovered that his passion is software and web development.
                <br><br>
                In my spare time I like to go mountain hikes, bike riding and take photos. But, I also like to be in continuous learning about the topics of my interest, such as web development.
                <br><br>
                At this time I have worked mostly with front-end technologies (mainly Angular), but I am interested in learning other technologies such as NodeJs, MongoDB, Ionic or any other that allows me to continue growing.
                <br><br>
                I believe that the best tools and technologies are not the most sophisticated or the most popular, but rather those that help you solve the most complex problems. And that is what interests me in depth. Use programming to solve real people's problems.
            </p>

            <div class="row btn-container">
                <a href="" class="btn">CV <span class="bi bi-download"></span></a>
                <a routerLink="/projects" class="btn">See projects</a> 
            </div>
        </div>
    
    </div>
    


</div>
