<nav class="navbar navbar-expand-md ps-5 pe-5">
    <div class="container-fluid">
      
      <a class="navbar-brand" routerLink="">Freddy Michelena</a>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/freddy-michelena-057426102/" target="_blank">
          <i class="bi bi-linkedin ps-3" role="img" aria-label="LinkedIn"></i>
        </a>
        <a href="https://github.com/ifreddy18" target="_blank">
          <i class="bi bi-github ps-4" role="img" aria-label="GitHub"></i>
        </a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons menu">menu</span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarToggler">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <span class="btn nav-button">
              CV <span class="bi bi-download"></span>
            </span>
          </li>
        </ul>

      </div>
    </div>
  </nav>