@use '../../../assets/sass/mixins';
@import '../../../assets/sass/color-palette.scss';


* {
    transition: 300ms ease-in-out;
}

.navbar {
    height: 95px;
    background: $bg-navbar;
}

.navbar-brand {
    color: $text-logo;
    font-weight: bolder;

    &:hover {
        opacity: 0.5;
    }
}

.social-icons {
    .bi {
        @include mixins.navbar-item;
        font-size: 20px;
        margin: 0px auto;
        cursor: pointer;
    }
}

.navbar-toggler {
    border: none;

    .menu {
        color: $navbar-toggler;
        font-size: 50px;
    }
}

.navbar-collapse {
    background: $bg-navbar;
}

.nav-link {
    @include mixins.navbar-item;
    height: 34px;
    
}

.nav-button {
    @include mixins.btn-outline;
    width: 70px !important;
}

.nav-item {
    font-size: 18px;
    margin-left: 20px;
}

@media (max-width: 767px) {

    .navbar {
        width: 100%;
        top: 0px;
        position: fixed;
        z-index: 99;
        border-bottom: 1px solid $color-2;
    }

    .social-icons {
        display: none;
    }

    .navbar-collapse {
        width: 100%;
        padding-bottom: 5px;
    }

    .nav-item {
        padding: 5px;
        border-bottom: 1px solid $color-2;
    }

    .nav-button {
        border: none;
    }
    
}