@use '../../../assets/sass/mixins';
@import '../../../assets/sass/color-palette.scss';

* {
    @include mixins.all-items;
}
.row {
    margin-top: 10vh;
}

.title {
    color: $text-title;

    h1 {
        font-size: 64px;

        span {
            color: $text-logo;
        }
    }
    
    .title-description {
        max-width: 800px;
        font-size: 36px;
        line-height: 48px;
    }
}

.btn {
    @include mixins.btn-outline;
    width: 160px;
    font-size: 24px;
    padding: 10px;
} 

@media (max-width: 767px) {
    .row {
        padding-top: 80px;
    }

    h1 {
        font-size: 50px; 
    }
    
    .title-description {
        width: 100%;
        font-size: 24px;
    }
    
}

    
