<div *ngFor="let project of projectsList"
     class="row justify content-md-center project-card mt-4 mb-4">

    <div class="col-lg-7 project-img">
        <img [src]="project.imgPath" [alt]="project.title">
    </div>

    <div class="col-lg-5 project-body">

        <h3 class="project-title">{{ project.title }}</h3>

        <div class="badge-list mt-1 mb-2">
            <span class="subtitle">Stack</span>
            <br>
            <span *ngFor="let tech of project.technologies"
                    class="badge bg-tech m-1 ms-0" >
                {{ tech }}
            </span>
        </div>

        <div class="badge-list mt-1 mb-2">
            <span class="subtitle">Resources</span>
            <br>
            <span *ngFor="let resource of project.resources"
                    class="badge bg-res m-1 ms-0" >
                {{ resource }}
            </span>
        </div>

        <p class="project-description pt-1 pb-2">
            Project Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Nisi perferendis sunt distinctio dignissimos sed nostrum doloremque commodi! 
            Vitae ratione, recusandae laudantium aliquid nobis, 
            voluptas numquam quas temporibus dicta corrupti adipisci..
        </p>


        <div class="btn-container pt-2">
            <a class="btn" [href]="project.urlLive" target="_blank">
                Live <i class="bi-code-slash"></i>
            </a>
            <a class="btn" [href]="project.urlCode" target="_blank">
                Code <i class="bi-code-slash"></i>
            </a>
        </div>

    </div>

</div>

