@use '../../../assets/sass/mixins';
@import '../../../assets/sass/color-palette.scss';

* { 
    @include mixins.all-items; 
}

.project-card {
    width: 90%;
    // height: 100%;
    background-color: $bg-cards;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.project-img {
    padding: 0px;
    overflow: hidden;

    img {
        object-fit: cover;
    };
}

.project-body {
    @include mixins.paragraph;
    padding: 20px;
    z-index: 1;

    & > * {
        text-align: start;
    }
}

.project-title {
    color: $text-title
}

.project-description {
    @include mixins.paragraph;
    line-height: 20px;
}


.badge-list {
    .subtitle {
        color: $text-subtitle;
    }

    .bg-tech {
        background-color: $bg-badge-1;
    }

    .bg-res {
        background-color: $bg-badge-2;
    }
}

.btn-container {
    width: 100%;
    text-align: end !important;

    .btn {
        @include mixins.btn-outline;
        width: 90px;
        margin-left: 8px;
        
        &:hover {
            opacity: 1;
            font-weight: bold;
        }
    }
}