@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


// Paleta - Grises
$color-1: #181818;
$color-2: #1D1D1D;
$color-3: #2A2A2A;
$color-4: rgba(200, 200, 200, 1);
// $color-4: #ABABAB;
// Paleta - Grises
$color-5: #11AD83;
$color-6: #0CFAD9;
$color-7: #FA0037;
$color-8: #83FA0C;
$color-9: #5FAD11;


// Otros
$bg-color: $color-2;
$bg-color-navbar: $color-1;